@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<UTDScanner_Web.Models.IncidentModel>>
@{
    Layout = "Views/Base.cshtml";
    ViewBag.Title = "Incidents - UTD Scanner";
}
<div class="container" role="main">
    <h1>Incidents</h1>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Case Number</th>
                <th>Type</th>
                <th>Location</th>
                <th>Reported</th>
            </tr>
        </thead>
        <tbody>
            <!-- Pagination is for the weak -->
            @foreach (var incident in Model)
            {
                <tr>
                    <td class="nowrap">
                        <a href="~/case/@incident.CaseNumber">@incident.CaseNumber</a>
                    </td>
                    <td>
                        @incident.Type
                    </td>
                    <td>
                        @incident.Location
                    </td>
                    <td class="nowrap">
                        @incident.Reported
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>