@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    @RenderSection("ExtraHeaders", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>