@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Base.cshtml";
    ViewBag.Title = "UTD Scanner";
}
<div class="container" role="main">
    <p>Website will get finished eventually. For now:</p>
    <ul>
        <li><a href="https://twitter.com/utdscanner">Twitter @@utdscanner</a></li>
        <li><a href="~/incidents/">List of Incidents</a></li>
        <li>Email: utdscanner@gmail.com</li>
    </ul>
    <p>Future features:</p>
    <ul>
        <li>Facebook posting</li>
        <li>Parse, categorize, and normalize Type field</li>
        <li>Reports with heatmaps, stats, etc</li>
        <li>API (email/tweet interest please)</li>
    </ul>
    <p>Data is taken from the <a href="https://www.utdallas.edu/police/publicinfo.html">UTD Police daily crime log</a> and then normalized with additional attributes added.<br />
    The free publication of the crime log data is mandated by the Clery Act.<br />
    Requests to censor information will be ignored.<br />
    <br />
    Shout out to <a href="http://www.reddit.com/r/utdallas">/r/utdallas</a> for the sidebar link!
    </p>
</div>